.desktop{
    display: block;
}
.mobile{
    display: none;
}
.my_truncate{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.my_truncate.three{
    -webkit-line-clamp: 3;
}
.object-contain{
    object-fit: contain;
}
